rules_version = '2'; service cloud.firestore { match /databases/{database}/documents { match /offers/{offerId} { allow read: if true; allow create: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'empresa'; allow update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'empresa'; } match /users/{userId} { allow read: if request.auth != null && request.auth.uid == userId; allow create: if request.auth != null; } } }
